mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 10px;
    margin-top: 3.8em;
}

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
  }
  .fixed-content {
    margin-top: 3.8em;
    position: relative;
    z-index: 1; /* put .gold-box above .green-box and .dashed-box */
  }
  
  .fixed-footer {
    position: fixed;
    z-index: 2; /* put .green-box above .dashed-box */
    bottom: 0;
    width: 100%;
  }