.admin form {
    margin-top: 0px;
    padding: 0px 30px;
}
.admin h3 {
    color: #488ace;
    text-align: center;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.admin p {
    margin: 0 0px 10px;
    margin-left: 0px!important;
}
.admin label {
    display: none;
}
.admin input {
   width: 100%;
    border: none;
    border: 1px solid #dddddd78;
    padding: 10px;
    border-radius: 4px;
}
.admin textarea#message {
    width: 100%;
    height: 122px;
    border: 1px solid #dddddd78;
    border-radius: 4px;
    padding: 10px;
}
.admin input#submit {
    color: white;
    background: linear-gradient(0.25turn,#2a78ca, #71a1d4);
    float: right;
    border: none;
    border-radius: 4px;
    padding: 15px 23px;
    box-shadow: 0px 0px 4px 0px #00000087;
    margin-top: 15px;
}