
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Sonal's WebApp</title>
</head>
<body>
    <div style="text-align: center;">
        <h1> Model Is Running On Server</h1>
            <p> <i><b>Desease Prediction API</b> : http://127.0.0.1:5000/predictions </i></p>
            <p><b> <i>Note : Key name must be file.</i> </b></p>
        </ul>
        <h4> <i>Thankyou !</i> </h4>
        <form action="/addadmin" enctype=multipart/form-data>
            <br>
            <input style="margin-left: 5px;" class="btn btn-primary" type=submit
              value=" Click Here to add Admin">
          </form>
        <form action="/home" enctype=multipart/form-data>
            <br>
            <input style="margin-left: 5px;" class="btn btn-primary" type=submit
              value=" Click Here to Go to Desease Prediction Page">
          </form>
    </div>
</body>
</html>